.wrapper {
    width: 100vw;
}

.firstBtnRow {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.secondBtnRow {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}